body {
    font-family:Coda,sans-serif;
    width: 105%;
    background-color: black;
}
.title {
    font-family:Coda,sans-serif;
    color: black;
    background-color: white;
    padding-top: 10;
    padding-left:5;
    padding-bottom: 20;
}
.core  {
    color: white;
    margin-left: 10px;
}
h1{
    font-size: 36 px;
}

