body {
    font-family:Coda,sans-serif;
    width: 100%;
    background-color: black;
    margin: 0px;
}
.title {
    font-family:Coda,sans-serif;
    color: black;
    background-color: white;
    border-bottom: 2px solid red;
    padding-left: 30px;
    padding-top: 10px;
    margin: 0px;
}
.core  {
    color: white;
    margin-left: 10px;
}
h1{
    font-size: 36px;
}

