 body {
    font-family:Coda,sans-serif;
    width: 100%;
    background-color: black;
    margin: 0;
}
#title {
    position: relative;
    height: 210;
    font-family:Coda,sans-serif;
    color: black;
    border-bottom: 5px solid RGB(250,100,100);
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin: 0px;
}
#core {
    color: white;
    margin-top:20px;
    margin-left: 20px;
    margin-right:150px;
}
.post{
  border: 5px solid RGB(150,10,10);
  width: 160;
  border-radius:8px;
  padding-left: 8px;
}
canvas {
   position: absolute;
   background-color: white;
}
h1{
    font-size: 36px;
}
a:link {
    color: white;
    text-decoration:  none;
}
a:visited {
    color: RGB(250,200,200);
    text-decoration:  none;
}
a:hover {
    color: RGB(250,230,230);
    text-decoration:  none;
}
