.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 330px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #3669cf; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-left: 12px solid #4e7eed;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #cdd6fc;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}