body{
  font-family:Coda,sans-serif;
  margin: 0;
  background: white;
}
canvas{
  background: black ;
  border-bottom: 5px solid RGB(250,100,100);
  left:0px;
  top:0px;
}
#title{
    padding-left: 60px;
    padding-bottom: 20px;
    margin: 0px;
    Line-Height: 15px;
}
.figs{
  margin-left: 120px;
}
.code{
  font-family:Source Code Pro,sans-serif;
  font-weight: 700;
  color:RGB(30,15,15);
  background:RGB(255,220,220);
  border-radius:5px;
  padding: 6px;
  margin-left: 120px;
  margin-right: 20px;
  margin-top:0px;
  margin-bottom: 10px;
  width:60%
}
.PartCanvas{
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;

}
.textsWide{
    font-family:Mukta,sans-serif;
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    margin: 0px;
    max-width:60%;
    Line-Height: 30px;
    font-size: 20px;
}

.Header{
  font-family:Coda,sans-serif;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  background:RGB(255,220,220);
  color:RGB(100,60,60);
}
.ScrollSection{
   font-family:Mukta,sans-serif;
   max-width:20%;
   padding-left: 120px;
   padding-right: 60px;

   padding-top:160px;
   padding-bottom: 60px;

   margin-bottom: 30px;
   /* background:RGB(155,220,220); */
}
.texts{
    Line-Height: 35px;
    font-size: 20px;
    margin-bottom: 200px;
 /* background:RGB(255,220,220); */
}
small{
  font-size: 13px;
  padding-left: 15px;
  Line-Height: 3px !important;
}
button{
  padding: 0;
  border: none;
  background: none;

  font-family:Mukta,sans-serif;
  font-size: 20px;
}
#small{
  display: none;
  font-size:16px;
  Line-Height: 22px;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 18px;
}
