body {
    font-family:Coda,sans-serif;
    width: 100%;
    background-color: white;
    margin: 0;
}
#title {
  padding-left: 60px;
  padding-bottom: 20px;
  margin: 0px;
  Line-Height: 15px;
}
.text{
    font-family:Mukta,sans-serif;
    padding-top: 5px;
    padding-left: 120px;
    padding-right: 100px;
    padding-bottom: 30px;
    margin: 0px;
    max-width:60%;
    Line-Height: 30px;
    font-size: 20px;
}
canvas {
   /*background-color: white;*/
   border-bottom: 5px solid RGB(250,100,100);
   background-color: black;
}
small{
  font-size: 13px;
  padding-left: 15px;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 18px;
}
